@media screen and (min-width:480px) {
    .container{
    width: 458px;
    margin-left: auto;
    margin-right: auto;
    }  
}
@media  screen and (max-width:467px) {
    .adress-nav-mobile .mobile-link{
        font-size: 26px;
    }
    .adress-mobile .mobile-link.phone{
        font-size: 22px;
    }
    .adress-mobile .mobile-link{
        font-size: 18px;
    }
}

